
bin/Debug/net5.0/OsmParser.dll
bin/Debug/net5.0/OsmParser.dll
bin/Debug/net5.0/OsmParser.pdb
bin/Debug/net5.0/ReadMe.txt
obj/Debug/net5.0/OsmParser.dll
obj/Debug/net5.0/OsmParser.pdb
obj/Debug/net5.0/ref/OsmParser.dll
obj/Debug/net5.0/refint/OsmParser.dll
obj/Debug/net5.0/OsmParser.dll
obj/Debug/net5.0/OsmParser.pdb
obj/Debug/net5.0/ref/OsmParser.dll
obj/Debug/net5.0/refint/OsmParser.dll
bin/Debug/net5.0/OsmParser.dll
